@model Thực_tập_tuần_1.Models.Work

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdWork" class="control-label"></label>
                <input asp-for="IdWork" class="form-control" />
                <span asp-validation-for="IdWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkTime" class="control-label"></label>
                <input asp-for="WorkTime" class="form-control" />
                <span asp-validation-for="WorkTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select class="form-control" asp-for="Status" aria-label="Chọn mức độ hoàn thành công việc">
                    <option asp-for="Status" value="1">Cần làm</option>
                    <option asp-for="Status" value="2">Đang làm</option>
                    <option asp-for="Status" value="3">Đã hoàn thành</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
