
@model PagerModel
<div class="container mt-1">
    <ul class="pageniation justify-content-end">
        @for (var pge = Model.StartPage; pge <= Model.EndPage; pge ++)
        {
            <li class="page-item">
                <a class="page-link" asp-action="@Model.Action"
                   asp-route-pg="@pge"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-SearchString="@Model.SearchString">
                    @pge
               </a>
            </li>
        }
    </ul>
</div>